body {
  margin: 0;
  background-color: #dcf8f3;
}

section {
  margin-top: 7.1rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.small-container div {
  background-color: white;
}
