body {
  margin: 0;
  background-color: #dcf8f3;
}

h1,
p {
  margin: 0;
}

h1 {
  font-size: 1.3rem;
}
p {
  font-size: 0.9rem;
  line-height: 22px;
  margin-bottom: 1%;
}

section {
  margin: 7.1rem auto;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.small-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.small-container div {
  background-color: white;
}

.call-container,
.record-container,
.gift-container {
  display: flex;
  gap: 1.1rem;
  align-items: center;
}

.gift-container-wrapper {
  border: 1px solid #8ca5a0;
  padding: 1.8rem;
}

.small-container > div,
.gift-container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.8rem;
}

@media only screen and (min-width: 834px) {
  .small-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  section {
    flex-direction: row;
  }
  .gift-container-wrapper {
    /* width: 50%; */
  }
  .small-container {
    /* width: 50%; */
  }
}
